
#course_navigator {
    padding: 0px 50px 50px 50px;
    margin-right: 20px;
    width: 350px;
}

#course_navigator > a > * {
    display: block;
    margin: 15px 0px 15px 0px;
    width: 100%;
    text-align: left;
}

#exams_wrapper {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

#exams_wrapper > * {
    text-align: left;
    display: inline-block;
}

#course_explorer {
    margin-left: 20px;
    vertical-align: top;
    width: 450px;
}

#course_explorer > a{
    color: black;
}

#course_explorer > a > * {
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#course_explorer h1 {
    font-weight: 500;
    font-size: x-large;
    margin-top: 0;
}

#course_explorer p {
    padding-left: 0px;
    margin-bottom: 0;
    margin-top: 5px;
    padding-right: 9px;
    display: inline-block;
}

#course_explorer span {
    font-weight: 600;
    font-size: large;
}

#statistics  {
   white-space: nowrap;
   padding: 20px;
   margin-top: 40px;
   box-sizing: border-box;
}

#statistics > div {
    display: inline-block;
    width: 50%;
    text-align: center;
}

#statistics p {
    display: inline-block;
}

#statistics h1 {
    font-size: large;
    margin-top: 0;
}

#statistics h5 {
    font-size: medium;
    margin-top: 0;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

#statistics > div:first-of-type {
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
}

#statistics p {
    font-size: small;
    margin: 0;
    padding-right: 9px;
}

#statistics > div > div {
    text-align: left;
    display: inline-block;
}

.deadline {
    float: left;
    padding-top: 20px;
    font-size: 0.9em !important;
    font-weight: 400 !important;
}