#exam_wrapper {
    max-width: 900px;
    margin: auto;
    padding: 50px 10px 50px 10px;
}

#exam_title {
    padding: 20px;
    text-align: center;
    font-size: large;
}

#exam_title h1 {
    font-size: x-large;
    margin-top: 0;
}

#exam_title * {
    text-align: center;
}

#exam_title p {
    margin-bottom: 0;
}

#exam_wrapper div{
    margin-top: 25px;
    margin-bottom: 25px;
}

.question {
    padding: 20px;
}

.question h1 {
    font-size: medium;
    font-weight: 500;
    margin: 0;
}

.question p {
    margin-top: 7px;
}

.question label {
    display: block;
    margin: 10px;
}

#exam_result {
    padding: 20px;
}

.answer_correct_highlight, .answer_user_highlight {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

.answer_correct_highlight {
    border-color: rgb(62, 128, 62);
}

.answer_user_highlight {
    border-color: rgb(255, 115, 115);
}

#exam_result h1 {
    font-size: large;
}

#exam_result p {
    margin: 0;
}