{% extends "exam_network/two_split.html" %}
{%block two_split_image_source%}/media/team_work_img1_w16.svg{%endblock%}
{%block two_split_content%}
<div id="signup_content_wrapper">
    <h1 class="big_title">About Us</h1>
    <p class="text" style="margin-top: 30px;">Exam Network is an online testing platform designed to be easy to use for students and teachers. In Exam Network, teachers will find an approachable platform where writing, assigning and marking tests takes less time and less resources. Students will find a platform that makes taking and keeping track of assignments is easy and quick. Best of all, results are calculated upon completion and delivered instantly. No more mass marking for teachers and no more anxious waiting for students. </p>
</div>
{%endblock%}