{% extends "exam_network/two_split.html" %}
{%block two_split_image_source%}/media/online_education_img1_w2.svg{%endblock%}
{%block two_split_content%}
<div id="signup_content_wrapper">
    <h1 class="big_title">Your Account</h1>
    <h3 class="medium_title">Edit your account details</h3>
    <form class="two_split_content" method="POST" style="width: 400px;" id="signup_form">
        {%csrf_token%}
        <div class="input_row">
            <span>Name</span>
            <input name="first_name" value="{{user.first_name}}">
        </div>
        <div class="input_row">
            <span>Surname</span>
            <input name="last_name" value="{{user.last_name}}">
        </div>
        <div class="input_row">
            <span>Email</span>
            <input type="email" name="email" value="{{user.email}}" readonly>
        </div>
        <div class="input_row">
            <span>I am </span>
            <label><input type="radio" name="role" value="S" {%if user.profile.role == "S"%}checked="checked"{%endif%}> student</label>
            <label style="padding-left: 20px;"><input type="radio" name="role" value="T" {%if user.profile.role == "T"%}checked="checked"{%endif%}> teacher</label>
        </div>
        <div class="input_row">
            <span>Change Password</span>
            <input type="password" name="password" value="***********">
        </div>
        <div class="input_row">
            <span>Confirm Password</span>
            <input type="password" name="confirm_password" value="***********">
        </div>
    </form>
    <a href="{%url 'exam_network:index'%}"><button class="gray_button">Cancel</button></a>
    <button type="submit" class="blue_button" style="margin-top: 10px;" form="signup_form">Edit Profile</button>
</div>
{%endblock%}