<!DOCTYPE html>
{% load static %}
<meta name="viewport" content="width=device-width">
<html lang="{{ LANGUAGE_CODE|default:'en' }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>Exam Network</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="exams, quizzes, homeworks, test, tutor, student, university, school">
        <meta name="description" content="">
        <meta name="author" content="WAD 2 - Team 3b" >   
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="private" />
        <meta http-equiv="expires" content="400" />
        <link rel="stylesheet" href="{% static 'global/global.css' %}">
        <link rel="icon" type="image/png" href="/media/icons/favicon.ico">
    </head>
    <body>
        <div id="header">
            <div id="loading_bar"></div>
            <a href="{%url 'exam_network:index'%}"><img class="exam_network_logo" src="/media/exam_network_logo.png" alt="exam network logo"/></a>
            <div id="user_container">
                {%if not user.is_authenticated%}
                    <a href="{%url 'exam_network:signup'%}"><button class="blue_button">Sign up</button></a>
                    <a href="{%url 'exam_network:login'%}"><button class="blue_button">Log in</button></a>
                {%else%}
                    <a href="{%url 'exam_network:account'%}"><button class="blue_button">Your Account</button></a>
                    <a href="{%url 'exam_network:user_logout'%}"><button class="blue_button">Log Out</button></a>
                {%endif%}
            </div>
        </div>
        <div id="header_signup" class="dark_blue_strip">
            {%if user.is_authenticated%}
                <a href="{%url 'exam_network:exams'%}"><button class="blue_button">Exams</button></a>
                {%if user.profile.role == "T"%}
                    <a href="{%url 'exam_network:add_course'%}"><button class="blue_button">Add Course</button></a>
                    <a href="{%url 'exam_network:add_students'%}"><button class="blue_button">Add Students</button></a>
                {%endif%}
            {%else%}
                <a href="{%url 'exam_network:signup'%}"><button id="signup_button" class="blue_button">Sign up for Exam Network</button></a>
            {%endif%}
        </div>
        <div id="page_content">
            {%block page_content%}{%endblock%}
        </div>
        <footer>
            <div class="dark_blue_strip">
                <a href="{%url 'exam_network:about_us'%}"><button class="blue_button">About</button></a>
                <a href="{%url 'exam_network:contact'%}"><button class="blue_button">Contact</button></a>
                <a href="{%url 'exam_network:help'%}"><button class="blue_button">Help</button></a>
            </div>
            <a href="{%url 'exam_network:index'%}"><img class="exam_network_logo" src="/media/exam_network_logo.png" alt="exam network logo"/></a>
        </footer>
        <script async src="{% static 'global/global.js' %}"></script>
        <script>document.getElementById("loading_bar").style.display = "none"</script>
    </body>
</html>