<!DOCTYPE html>
{% load static %}
<meta name="viewport" content="width=device-width">
<html lang="{{ LANGUAGE_CODE|default:'en' }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>Exam Network</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="exams, quizzes, homeworks, test, tutor, student, university, school">
        <meta name="description" content="">
        <meta name="author" content="WAD 2 - Team 3b" >   
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="private" />
        <meta http-equiv="expires" content="400" />
        <link rel="stylesheet" href="{% static 'global/global.css' %}">
        <link rel="icon" type="image/png" href="/media/icons/favicon.ico">
    </head>
    <body>
        <div id="header">
            <div id="loading_bar"></div>
            <a href="{%url 'exam_network:index'%}"><img class="exam_network_logo" src="/media/exam_network_logo.svg" alt="exam network logo"/></a>
            <a href="{%url 'exam_network:login'%}"><button id="header_login" class="blue_button">Log in</button></a>
        </div>
        <div id="header_signup" class="dark_blue_strip">
            <a href="{%url 'exam_network:signup'%}"><button class="blue_button">Sign up for Exam Network</button></a>
        </div>
        <div id="page_content">
            {%block page_content%}{%endblock%}
        </div>
        <footer>
            <div class="dark_blue_strip">
                <a><button class="blue_button">About</button></a>
                <a><button class="blue_button">Contact</button></a>
                <a><button class="blue_button">Help</button></a>
            </div>
            <a href="{%url 'exam_network:index'%}"><img class="exam_network_logo" src="/media/exam_network_logo.svg" alt="exam network logo"/></a>
        </footer>
        <script async src="{% static 'global/global.js' %}"></script>
        <script>document.getElementById("loading_bar").style.display = "none"</script>
    </body>
</html>