{% extends "exam_network/base.html" %}
{% block page_content %}
{% load static %}
{% load exam_templatetags %}
<link rel="stylesheet" type="text/css" href="{% static 'exams/exams.css' %}">
<div id="exams_wrapper">
    <div id="course_navigator">
        {%for course in courses%}
            <a href="{%url 'exam_network:exams' course.id%}"><button class="blue_button {%if current_course == course%}selected{%endif%}">{{course.name}}</button></a>
        {%endfor%}
        <div id="statistics" class="black_border" {%if request.user.profile.role != "S" and not current_course%}style="visibility:hidden"{%endif%}>
            {%get_student_performance user current_course as student_performance%}
            <h1>Cummulative Statistics</h1>
            {%if request.user.profile.role == "S"%}
                <div>
                    <h5>Your Performance</h5>
                    <div>
                        <p>Highest Score: </p><span>{{student_performance.0}}%</span><br>
                        <p>Lowest Score: </p><span>{{student_performance.1}}%</span><br>
                        <p>Average: </p><span>{{student_performance.2}}%</span>
                    </div>
                </div>
            {%endif%}
            {%if current_course%}
                {%get_course_performance current_course as course_performance%}
                <div>
                    <h5>Course Performance</h5>
                    <div>
                        <p>Highest Score: </p><span>{{course_performance.0}}%</span><br>
                        <p>Lowest Score: </p><span>{{course_performance.1}}%</span><br>
                        <p>Average: </p><span>{{course_performance.2}}%</span>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
    <div id="course_explorer">
        {%if exams|length == 0%}
        <p class="text" style="text-align: center;">Looks like there are no exams in {%if current_course%}course {{current_course.name}}{%else%}your courses{%endif%}</p>
        {%endif%}
        {%for exam in exams%}
            {%get_submission request.user exam as submission%}
            <div class="black_border" {%if exam.date_available > now or exam.deadline < now%}style="color:gray;"{%endif%}>
                <h1>{{exam.title}}</h1>
                {% if user_role == "S" %}
                    {%if submission%}
                        <p>Your Result: </p><span>{{submission.percentage}}%</span><br>
                        <p>Your Score: </p><span>{{submission.score}} our of {{submission.max_score}} points</span><br>
                    {%endif%}
                {% endif %}
                <div style="text-align: right;" class="exam_bottom">
                    <span>Open from: <b>{{exam.date_available}}</b></span>
                    <span>Deadline: <b>{{exam.deadline}}</b></span>

                    {% if user_role == "S" %}
                        <a {%if exam.date_available < now%}href="{%url 'exam_network:exams' exam.id%}"{%endif%}>
                            <button class="{%if submission%}gray_button{%else%}blue_button{%endif%}" {%if exam.date_available > now%}style="visibility:hidden;"{%endif%}>{%if submission%}Review{%else%}Start{%endif%}</button>
                        </a>
                    {% elif user_role == "T" %}
                        <a href="{%url 'exam_network:exams' exam.id%}">
                            <button class="blue_button" style="width: 130px;">View</button>
                        </a>
                        <a href="{%url 'exam_network:exam_remove' exam.id%}">
                            <button class="gray_button" style="transform: scale(0.7);">Remove</button>
                        </a>
                        <a href="{%url 'exam_network:exam_edit' exam.id%}">
                            <button class="blue_button" style="width: 130px;">Edit</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{% endblock %}