{% extends "exam_network/base.html" %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'exams/exams.css' %}">
<div id="exams_wrapper">
    <div id="course_navigator">
        {%for course in courses%}
            <a href="{%url 'exam_network:exams' course.id%}"><button class="blue_button {%if current_course == course%}selected{%endif%}">{{course.name}}</button></a>
        {%endfor%}
        <div id="statistics" class="black_border" {%if user_role != "S"%}style="visibility:hidden;"{%endif%}>
            <h1>Statistics</h1>
            <div>
                <h5>Your Performance</h5>
                <div>
                    <p>Highest Score: </p><span>97%</span><br>
                    <p>Lowest Score: </p><span>80%</span><br>
                    <p>Average: </p><span>90%</span>
                </div>
            </div>
            <div>
                <h5>Course Performance</h5>
                <div>
                    <p>Highest Score: </p><span>97%</span><br>
                    <p>Lowest Score: </p><span>80%</span><br>
                    <p>Average: </p><span>90%</span>
                </div>
            </div>
        </div>
    </div>
    <div id="course_explorer">
        {%if exams|length == 0%}
        <p class="text" style="text-align: center;">Looks like there are no exams in {%if current_course%}course {{current_course.name}}{%else%}your courses{%endif%}</p>
        {%endif%}
        {%for exam in exams%}
            <a {%if exam.date_available < now%}href="{%url 'exam_network:exams' exam.id%}"{%endif%}>
                <div class="black_border" {%if exam.date_available > now%}style="color:gray;"{%endif%}>
                    <h1>{{exam.title}}</h1>
                    {% if user_role == "S" %}
                        <p>Your Score: </p><span>97%</span><br>
                        <p>Your Grade: </p><span>A</span><br>
                    {% endif %}
                    <div style="text-align: right;" class="exam_bottom">
                        <span>Open from: <b>{{exam.date_available}}</b></span>
                        <span>Deadline: <b>{{exam.deadline}}</b></span>

                        {% if user_role == "S" %}
                            <button class="blue_button" {%if exam.date_available > now%}style="visibility:hidden;"{%endif%}>Start</button>
                        {% elif user_role == "T" %}
                            <button class="blue_button">View</button>
                            <button class="blue_button">Edit</button>
                            <button class="blue_button">Remove</button>
                        {% endif %}
                    </div>
                </div>
            </a>
        {%endfor%}
    </div>
</div>
{% endblock %}