{% extends "exam_network/base.html" %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'exams/exam.css' %}">
<div id="exam_wrapper">
    <div id="exam_title" class="black_border">
        <h1>{{exam.title}}</h1>
        <p class="text">Available from {{exam.date_available}} to {{exam.deadline}}</p>
    </div>
    <form method="POST">
        {%csrf_token%}
        {%for question in exam.questions.all%}
            <div class="question black_border">
                <h1>Question {{ forloop.counter }}</h1>
                <p>{{question.content}}</p>
                <label><input type="radio" name="question_{{forloop.counter0}}" value="0" required>{{question.choice_0}}</label>
                <label><input type="radio" name="question_{{forloop.counter0}}" value="1" required>{{question.choice_1}}</label>
                <label><input type="radio" name="question_{{forloop.counter0}}" value="2" required>{{question.choice_2}}</label>
                <label><input type="radio" name="question_{{forloop.counter0}}" value="3" required>{{question.choice_3}}</label>
                <label><input type="radio" name="question_{{forloop.counter0}}" value="4" required>{{question.choice_4}}</label>
            </div>
        {%endfor%}
        <div style="text-align: right;">
            <button class="gray_button" type="button" onclick="window.history.back();">Cancel</button>
            <button class="blue_button">Submit</button>
        </div>
    </form>
</div>
{% endblock %}