{% extends "exam_network/base.html" %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_page/main_page.css' %}">
<script src="{% static 'main_page/main_page.js' %}"></script>

<div id="slide_wrapper">
    <div class="slide">
        <div class="zoom_image_wrapper"><img src="/media/studying_online_photo1_w1.jpg" alt="studying for exam"/></div>
        <div class="slide_content">
            <h1>The best tool for teachers</h1>
            <p>Exam network is an exciting tool that helps teachers streamline their workflows. Exam Network is an easy to use application for creating, assigning and tracking students progress with multiple choice exams which are marked automatically on completion. By using exam network, you will find you spend less time on paperwork and more time focussing on what really matters: educating the next generation of world changers. </p>
        </div>
    </div>
    <div class="slide">
        <div class="zoom_image_wrapper"><img src="/media/studying_for_exams_photo2_w1.jpg" alt="studying for exam"/></div>
        <div class="slide_content">
            <h1>Easy access for students</h1>
            <p>Students will find an approachable and clear testing platform in Exam Netowrk. All exams are in one place, divided by class, with clear deadlines. Keeping track of your work and your own progress has never been easier. With instant results, you will no longer face long anxious waits to see how you did on that tough exam. Exam Network will take your learning to the next level. </p>
        </div>
    </div>
    <div class="slide">
        <div class="zoom_image_wrapper"><img src="/media/chart_analysis_photo3_w1.jpg" alt="studying for exam"/></div>
        <div class="slide_content">
            <h1>Instantly view results</h1>
            <p>With results calculated in real time, and delivered instantly, students and teachers alike no longer have to stress about marking. Mass marking takes time away from what really matters - providing feedback and indentifying where your class as a whole may need to spend time focussing.  </p>
        </div>
    </div>
    <div class="slide">
        <div class="zoom_image_wrapper"><img src="/media/university_student_photo4_w1.jpg" alt="studying for exam"/></div>
        <div class="slide_content">
            <h1>Manage exams faster</h1>
            <p>Writing thorough and fair exams takes time. Reducing wasted time and resources dealing with paperwork, photocopying, and mass marking not only frees you up to focus on the teaching, it's also better for the environment.  </p>
        </div>
    </div>
</div>

<div id="logos">
    <div>
        <img src="/media/student_icon1_w1.svg" alt="student icon">
        <p>Easy to use</p>
    </div>
    <div>
        <img src="/media/university_icon2_w1.svg" alt="university icon">
        <p>Professional tool</p>
    </div>
    <div>
        <img src="/media/edu_icon3_w1.svg" alt="eudcation icon">
        <p>Access from anywhere</p>
    </div>
</div>
{% endblock %}