{% extends "exam_network/base.html" %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_page/main_page.css' %}">
<script src="{% static 'main_page/main_page.js' %}"></script>

<div id="slide_wrapper">
    <div class="slide">
        <div class="zoom_image_wrapper"><img src="/media/studying_online_photo1_w1.jpg" alt="studying for exam"/></div>
        <div class="slide_content">
            <h1>The best tool for teachers</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="slide">
        <div class="zoom_image_wrapper"><img src="/media/studying_for_exams_photo2_w1.jpg" alt="studying for exam"/></div>
        <div class="slide_content">
            <h1>Easy access for students</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="slide">
        <div class="zoom_image_wrapper"><img src="/media/chart_analysis_photo3_w1.jpg" alt="studying for exam"/></div>
        <div class="slide_content">
            <h1>Instantly view results</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="slide">
        <div class="zoom_image_wrapper"><img src="/media/university_student_photo4_w1.jpg" alt="studying for exam"/></div>
        <div class="slide_content">
            <h1>Manage exams faster</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

<div id="logos">
    <div>
        <img src="/media/student_icon1_w1.svg" alt="student icon">
        <p>Easy to use</p>
    </div>
    <div>
        <img src="/media/university_icon2_w1.svg" alt="university icon">
        <p>Professional tool</p>
    </div>
    <div>
        <img src="/media/edu_icon3_w1.svg" alt="eudcation icon">
        <p>Access from anywhere</p>
    </div>
</div>
{% endblock %}