{% extends "exam_network/base.html" %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_page/main_page.css' %}">
<script src="{% static 'main_page/main_page.js' %}"></script>
<div id="logos">
    <div>
        <img src="/media/student_icon1_w1.svg">
        <p>Easy to use</p>
    </div>
    <div>
        <img src="/media/university_icon2_w1.svg">
        <p>Professional tool</p>
    </div>
    <div>
        <img src="/media/edu_icon3_w1.svg">
        <p>Access frin anywhere</p>
    </div>
</div>
{% endblock %}