{% extends "exam_network/two_split.html" %}
{%block two_split_image_source%}/media/online_learning_img1_w3.svg{%endblock%}
{%block two_split_content%}
<div>
    <h1 class="big_title">Welcome back,</h1>
    <h3 class="medium_title">Sign in to continue!</h3>
    <form class="two_split_content" method="POST" style="margin-top: 70px;" id="login_form">
        {%csrf_token%}
        <div class="input_row">
            <span>Email</span>
            <input type="email" name="email" required>
        </div>
        <div class="input_row">
            <span>Password</span>
            <input type="password" name="password" required>
        </div>
    </form>
    <a href="{%url 'exam_network:index'%}"><button class="gray_button">Cancel</button></a>
    <button type="submit" class="blue_button" style="margin-top: 100px;" form="login_form">Log In</button>
</div>
{%endblock%}