<!DOCTYPE html>
{% load static %}
<meta name="viewport" content="width=device-width">
<html lang="{{ LANGUAGE_CODE|default:'sk' }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>Exam Network</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="exams, quizzes, homeworks, test, tutor, student, university, school">
        <meta name="description" content="">
        <meta name="author" content="WAD 2 - Team 3b" >   
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="private" />
        <meta http-equiv="expires" content="400" />
        <link rel="stylesheet" href="{% static 'global/global.css' %}">
        <link rel="icon" type="image/png" href="/media/icons/favicon.ico">
    </head>
    <body style="height:100%; width: 100%; border-collapse:collapse; display : table; min-width: 320px;">
        <div>
            <div id="header">
                <div id="loading_bar"></div>
                <div id="header_wrapper" style="position: relative;">
                    <div id="small_navigation">
                        <a class="no_select">Logout</a>
                        <a class="no_select">Your Account</a>
                        <a class="no_select">Contact Us</a>
                    </div>
                    <h1 id="website_title">Exam Network</h1>
                    <div id="navigation_wrapper">
                        <div id="navigation">
                            <div style="border-left-style: none; border-top-left-radius: 26px; border-bottom-left-radius: 26px;"><a>Exams</a><div><a>test1</a><a>test2</a><a>test3</a></div></div><div><a>Results</a><div><a>test1</a><a>test2</a><a>test3</a></div></div><div style="border-right-style: none; border-top-right-radius: 26px; border-bottom-right-radius: 26px;"><a>Feedback</a><div><a>test1</a><a>test2</a><a>test3</a></div></div>
                        </div>
                    </div>
                </div>
            </div>
            {% block page_content %}{% endblock %}
        </div>
        <footer>
            <div style="padding: 20px;">
                <div id="sitemap">
                    <a>todo</a>
                    <a>todo</a>
                </div>
                <div id="authors">
                    <a rel="author" href="mailto:2480607P@student.gla.ac.uk">Roman Polek</a>
                    <a rel="author" href="mailto:2397741K@student.gla.ac.uk">Anna Kaminska</a>
                    <a rel="author" href="mailto:2399448M@student.gla.ac.uk">Declan McBride</a>
                    <a rel="author" href="mailto:2457183P@student.gla.ac.uk">Kajetan Puchalski</a>
                </div>
            </div>
        </footer>
        <script async src="{% static 'global/global.js' %}"></script>
    </body>
</html>