/*BLUEPRINTS//BLUEPRINTS//BLUEPRINTS//BLUEPRINTS//BLUEPRINTS//BLUEPRINTS*/
.blue_button, .gray_button {
    color: white;
    background-color: rgb(54,99,158);
    border-style: none;
    padding: 15px 40px 15px 40px;
    border-radius: 2000px;
    font-size: large;
    transition: transform 0.3s;
    cursor: pointer;
    margin: 5px;
}

.blue_button:focus, .gray_button:focus {
    border-style: none;
    outline: none;
}

.blue_button:hover, .gray_button:hover {
    transform: scale(1.1);
}

.gray_button {
    background-color: rgb(131, 131, 131);
}

.dark_blue_strip {
    background-color: rgb(54,99,158);
    width: 100%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

.exam_network_logo {
    height: 100%;
    transform: scale(0.8);
}

/*have to wrap it in div with class wrapper to work*/
.zoom_image_wrapper {
    overflow: hidden;
    border-radius: 5px;
}

.zoom_image_wrapper > img {
    transition: transform 1.5s;
}

.zoom_image_wrapper > img:hover {
    transform: scale(1.025);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

img {
    border-radius: 5px;
}

/*custom scrollbar*/
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 131);
    border-radius: 100px;
}
*::-webkit-scrollbar-thumb:hover {
    background: rgb(54,99,158);
}

.black_border {
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    border-color: black;
}

.input_row {
    padding: 7px;
    width: calc(100% - 14px - 10px); /*minus padding and minus a few pixels*/
    position: relative;
    white-space: nowrap;
    text-align: left;
}

.input_row * {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.input_row > span {
    width: 40%;
    font-weight: 500;
}

.input_row > input {
    width: 60%;
}

.big_title {
    font-size: xx-large;
    font-weight: 500;
    display: block;
    margin: 0;
    text-align: left;
}

.medium_title {
    font-size: larger;
    font-weight: 400;
    margin: 0;
    text-align: left;
    display: block;
}

.two_split_content {
    margin-top: 20px;
    display: block;
}

.text {
    text-align: left;
    color: rgb(83, 83, 83);
}
/*BLUEPRINTS//BLUEPRINTS//BLUEPRINTS//BLUEPRINTS//BLUEPRINTS//BLUEPRINTS*/

body {
    position: relative;
    height:100%;
    width: 100%;
    border-collapse:collapse;
    display : table;
    min-width: 320px;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(168,206,255);
}

#page_content {
    padding-bottom: 15rem; /*footer height*/
    background-color: white;
}

footer {
    height: 15rem; /*footer height*/
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(168,206,255);
    -webkit-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.35) !important;
    -moz-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.35) !important;
    box-shadow: 0px -5px 5px -5px rgba(110, 79, 79, 0.35) !important;
    text-align: center;
}

.shadow{
    -webkit-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.35) !important;
    -moz-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.35) !important;
    box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.35) !important;
}

.no_select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#header {
    position: relative;
    background-color: rgb(168,206,255);
    width: 100%;
    height: 180px;
    text-align: center;
}

@keyframes loading_bar_animation {
    0%{left: -100%;}
    100%{left: 100%;}
}

#loading_bar {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: white;
    animation-name: loading_bar_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    height: 3px;
    border-radius: 100px;
}

#header_login {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#header_signup button {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    display: inline-block;
    font-size: medium;
}

footer img {
    height: calc(100% - 60px) !important;
}