#signup_content_wrapper h1 {
    font-size: xx-large;
    font-weight: 500;
    display: block;
    margin: 0;
    text-align: left;
}

#signup_content_wrapper h3 {
    font-size: larger;
    font-weight: 400;
    margin: 0;
    text-align: left;
    display: block;
}

#signup_content {
    margin-top: 20px;
    width: 400px;
    display: block;
}