
#signup_wrapper {
    text-align: center;
    display: inline-block;
    padding: 80px;
}

#signup_wrapper * {
    display: inline-block;
}

#signup_wrapper > * {
    display: inline-block;
    vertical-align: top;
}

#signup_wrapper img {
    height: 420px;
    margin-bottom: 10px;
}

#signup_wrapper > div {
    box-sizing: border-box;
}

#signup_content_wrapper {
    margin-left: 25px;
    padding: 30px;
}

#signup_content_wrapper h1 {
    font-size: xx-large;
    font-weight: 500;
    display: block;
    margin: 0;
    text-align: left;
}

#signup_content_wrapper h3 {
    font-size: larger;
    font-weight: 400;
    margin: 0;
    text-align: left;
    display: block;
}

#signup_content {
    margin-top: 20px;
    width: 400px;
    display: block;
}